div.container_12

	div#header!=partial('includes/header.jade')
	div.clear

	div#body
		div#about-title.grid_12
			h1 yeah, that about sums it up...
			h3
				|Lots of projects started, this is the first one actually finished.
		div.clear

		div#about-left.grid_5
			<img id='success' src='images/success-kid.jpg' />
		div#about-right.grid_7
			h3
				|About Me, darnit!
			p
				|I live in the beautiful Lehigh Valley in Pennsylvania and I work as a web technologies specialist and <a href='http://en.wikipedia.org/wiki/Learning_management_system' target='_window'>learning management system</a> administrator for <a href='http://www.desales.edu/' target='_window'>DeSales University</a>.  I like to tinker with new and emerging web technologies and languages (as you can see from this blog).
			h3
				|About this Site
			p
				|This site started out simply as a way to learn more about node.js.  I rather enjoy using JavaScript, and kept hearing about this server-side version of the language.  As I learned more about node.js, I started discovering it's many wonderful plugins and general ease of use.  I spent no money at all developing and deploying this site.  All plugins are free as well as hosting on heroku.

			p
				|The site then turned into an all out blog engine.  Because I like node.js so much, I am writing a series of tutorials on how to develop with node.js

			h3
				|On the tutorials...
			
			p
				|All tutorials will be posted to nettuts.  Please stay tuned to the blog with updates as to when and where the tutorials will be available.
				
			
		div.clear

	div#footer.grid_12!=partial('includes/footer.jade')
	div.clear