!!! 5
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/grid.css ')
		link(rel='stylesheet', href='/stylesheets/jquery.tweet.css')

		block scripts
			script(src='http://code.jquery.com/jquery-1.7.min.js')
			script(src='/javascripts/featured-content.js')
			script(src='/javascripts/jquery.tweet.js')
			script(src='/javascripts/jquery.revolver.min.js')
			script
				$(document).ready(function(){

					// Twitter Widget
					jQuery(function($) {
						$("#tweets").tweet({
							username: "sfttwit",
							join_text: "auto",
							avatar_size: 32,
							count: 4	
						});
					});

					// Login Form Behavior
					// Username
					$("#login-with-password input:text")

						.focusin(function() {
							if ($(this).val() == "Username") {
								$(this).val("");
							}
						})

						.focusout(function() {
							if ($(this).val() == "") {
								$(this).val("Username");
							}
						});

					// Password
					$("#login-with-password input:password")

						.focusin(function() {
							if ($(this).val() == "password") {
								$(this).val("");
							}
						})
						.focusout(function() {
							if ($(this).val() == "") {
								$(this).val("password");
							}
						});

					// Register Form Behavior
					// Username
					$("#register #username input:text")

						.focusin(function() {
							if ($(this).val() == "Email") {
								$(this).val("");
							}
						})

						.focusout(function() {
							if ($(this).val() == "") {
								$(this).val("Email");
							}
						});

					// First Name
					$("#register #first-name input:text")

						.focusin(function() {
							if ($(this).val() == "First Name") {
								$(this).val("");
							}
						})

						.focusout(function() {
							if ($(this).val() == "") {
								$(this).val("First Name");
							}
						});

					// Last Name
					$("#register #last-name input:text")

						.focusin(function() {
							if ($(this).val() == "Last Name") {
								$(this).val("");
							}
						})

						.focusout(function() {
							if ($(this).val() == "") {
								$(this).val("Last Name");
							}
						});

					// Password
					$("#register #password input:password")

						.focusin(function() {
							if ($(this).val() == "password") {
								$(this).val("");
							}
						})

						.focusout(function() {
							if ($(this).val() == "") {
								$(this).val("password");
							}
						});
				});
				
	body!= body