div.container_12

	div(align='center')#register-form.grid_12
		div#register-box
			- if ('undefined' !== typeof errors && errors.length)
				ul#errors
					- each error in errors
						li.error= error
			div#register
				img(src='images/register-title.png')
				form(action='/register', method='POST')
					div#username
						input(type='text', name=everyauth.password.loginFormFieldName, value='e-mail')
					div#first-name
						input(type='text', name='name.first', value='First Name')
					div#last-name
						input(type='text', name='name.last', value='Last Name')
					div#password
						input(type='password', name=everyauth.password.passwordFormFieldName, value='password')
					input.button(type='submit', value='')

		div(align='center').larger-font
			a(href='/') Return to the Homepage

	div.clear